	<!-- 2 Column Banners Starts -->
		<div class="col2-banners">
			
		</div>
	<!-- 2 Column Banners Ends -->

	<!-- Latest Products Starts -->
		<section class="products-list">
		<!-- Heading Starts -->
			<h2 class="product-head">Latest</h2>
		<!-- Heading Ends -->
		<!-- Products Row Starts -->
			<div class="row">
			<!-- Product #1 Starts -->
				<div class="col-md-3 col-sm-6" ng-repeat="journal in latestJournals">
					<box-journal></box-journal>
				</div>
			<!-- Product #1 Ends -->
			</div>
		<!-- Products Row Ends -->
		</section>
	<!-- Latest Products Ends -->
